<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.com.pulse.mapper.FilialMapper">

    <select id="buscar" resultType="br.com.pulse.model.Filial">
        select id, descricao, endereco from filial where id = #{filialId};
    </select>

</mapper>